{% extends 'security/security.html.twig' %}

{% block body %}

    <div class="form">
        <h1>Se connecter</h1>
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label class="form-control-label" for="username">Pseudo</label>
                <input type="text" id="username" name="_username" required="required" class="form-control" />

            </div>
            <div class="form-group">
                <label class="form-control-label" for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" required="required" class="form-control" />
            </div>
            <div>
                <a href="{{ path('security_signup') }}">Créer un compte</a>
            </div>
            <button class="btn btn-lg btn-danger btn-block" type="submit">Se connecter</button>
        </form>
        {% if error %}
            <p>Pseudo ou mot de passe incorrect.</p>
        {% endif %}
    </div>

{% endblock %}





