{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="post_admin">
        <h1>Editer un article</h1>
        {{ include('admin/post/_edit_form.html.twig') }}
    </div>
{% endblock %}


