{% block body %}
    <div class="card my-4">
        <h5 class="card-header">Laissez un commentaire:</h5>
        <div class="card-body">
            <div class="form-group">
                {{ form_start(form, {method: 'POST', action: path('comment_new', {'postSlug': post.slug})}) }}
                {{ form_row(form.content, {'label':false}) }}
                <button class="btn btn-outline-danger" value="submit">Envoyer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

