{% if not post.tags.empty %}
    <div class="post-tags">
        {% for tag in post.tags %}
            <a href="{{ path('article_post', {tag: tag.name}) }}">{{ tag.name }}</a>
        {% endfor %}
    </div>
{% endif %}