{% extends 'base.html.twig' %}

{% block navigation %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_index') }}">Liste des articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_index_comment') }}">Liste des commentaires</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_index_contact') }}">Contact</a>
    </li>
{% endblock %}

{% block body %}
    {% block button %}
        <div class="col-sm 3">
            <div class="section">
                <a href="{{ path('admin_new') }}">
                    <button class="btn btn-danger">Nouvelle article</button>
                </a>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block sidebar %} {% endblock %}
