{% block body %}
    <div class="form-answer" class="form-group">
        {{ form_start(forms) }}
        {{ form_row(forms.content, {'label':false}) }}
        <input type="submit" value="envoyer" formnovalidate="formnovalidate">
        {{ form_end(forms) }}
    </div>
{% endblock %}



