{% extends 'base.html.twig' %}

{% block body %}
	{# THUMBNAIL #}
	<div class="container-thumbnail">
		<div class="row">
				{# THUMBNAIL - MAIN #}
            <div class="featured-article">
                <a href="#">
                    <img src="{{ asset('img/nba1.jpg') }}" alt="" class="thumb">
                </a>
                <div class="block-title">
                    <h2>Lorem ipsum dolor asit amet</h2>
                    <p class="by-author"><small>By Jhon Doe</small></p>
                </div>
            </div>

			{# THUMBNAIL - SECONDARY #}
            <ul class="media-list main-list">
                <li>
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/150x90" alt="...">
                    </a>
                    <div class="media-title">
                        <a href="#">
                            <h4>La course au Top 8 à l’Ouest : ils sont encore huit pour six places</h4>
                        </a>
                    </div>
                    <div class="media-text">
                        Vous avez l’impression que le classement de la Conférence Ouest change en permanence ? C’est tout à fait normal, n’allez pas consulter...
                    </div>
                </li>

                <li>
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/150x90" alt="...">
                    </a>
                    <div class="media-title">
                        <a>
                            <h4>La course au Top 8 à l’Ouest : ils sont encore huit pour six places</h4>
                        </a>
                    </div>
                    <div class="media-text">
                        Vous avez l’impression que le classement de la Conférence Ouest change en permanence ? C’est tout à fait normal, n’allez pas consulter...
                    </div>
                </li>
                <li>
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/150x90" alt="...">
                    </a>
                    <div class="media-title">
                        <a>
                            <h4>La course au Top 8 à l’Ouest : ils sont encore huit pour six places</h4>
                        </a>
                    </div>
                    <div class="media-text">
                        Vous avez l’impression que le classement de la Conférence Ouest change en permanence ? C’est tout à fait normal, n’allez pas consulter...
                    </div>
                </li>
                <li>
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/150x90" alt="...">
                    </a>
                    <div class="media-title">
                        <a>
                            <h4>La course au Top 8 à l’Ouest : ils sont encore huit pour six places</h4>
                        </a>
                    </div>
                    <div class="media-text">
                        Vous avez l’impression que le classement de la Conférence Ouest change en permanence ? C’est tout à fait normal, n’allez pas consulter...
                    </div>
                </li>
            </ul>
		</div>
	</div>
	{# SECTION - ARTICLE #}
	<section class="box-article">
		<h3 class="article-title article-title-1">news</h3>
		{# LEFT #}
		<div class="article-main align-left">
			<a href="#" class="article-photo">
				<img width="180" height="180" src="http://www.basketusa.com/wp-content/uploads/2018/03/mitchell-180x180.jpg" class="attachment-vignettes-carrees size-vignettes-carrees">
			</a>
			<a href="#">
				<h4>La course au Top 8 à l’Ouest : ils sont encore huit pour six places</h4>
			</a>
			<div class="article-date">21 mars 2018 - 14:30</div>
			<div class="article-texte">
				Vous avez l’impression que le classement de la Conférence Ouest change en permanence ? C’est tout à fait normal, n’allez pas consulter. C’est en effet une lutte de haute volée...
				<a href="#" class="more">Lire la suite</a>
			</div>
            <a href="#" class="other">Voir d'autres articles</a>
		</div>

        {# RIGHT #}
		<ul class="article-list align-right">
			<li>
				<a href="#">
					<h4>Coach NBA : de l’importance de ne pas se laisser dévorer par le stress</h4>
				</a>
			</li>

			<li>
				<a href="#">
					<h4>Coach NBA : de l’importance de ne pas se laisser dévorer par le stress</h4>
				</a>
			</li>
			<li>
				<a href="#">
					<h4>Coach NBA : de l’importance de ne pas se laisser dévorer par le stress</h4>
				</a>
			</li>
			<li>
				<a href="#">
					<h4>Coach NBA : de l’importance de ne pas se laisser dévorer par le stress</h4>
				</a>
			</li>
		</ul>
	</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/slider.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}