{% extends 'base.html.twig' %}

{% block body %}
	{# THUMBNAIL #}
	<div class="container-thumbnail">
		<div class="row">
				{# THUMBNAIL - MAIN #}
            <div class="featured-article">
                <a href="#">
                    <img src="{{ asset('img/nba1.jpg') }}" alt="" class="thumb">
                </a>
                <div class="block-title">
                    <h2>Lorem ipsum dolor asit amet</h2>
                    <p class="by-author"><small>By Jhon Doe</small></p>
                </div>
            </div>

			{# THUMBNAIL - SECONDARY #}
            <ul class="media-list main-list">
                {% for i in 0..3 %}
                    <li>
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/150x90" alt="...">
                        </a>
                        <div class="media-title">
                            <a href="#">
                                <h4>La course au Top 8 à l’Ouest : ils sont encore huit pour six places</h4>
                            </a>
                        </div>
                        <div class="media-text">
                            Vous avez l’impression que le classement de la Conférence Ouest change en permanence ? C’est tout à fait normal, n’allez pas consulter...
                        </div>
                    </li>
                {% endfor %}
            </ul>
		</div>
	</div>

    {# SECTION - TEAM #}
    {{ include('post/_section_team.html.twig') }}

	{# SECTION - RESUME #}
    {{ render(controller('App\\Controller\\PostController::lastResume')) }}

    {# SECTION - ARTICLE #}
    {{ render(controller('App\\Controller\\PostController::lastArticle')) }}
{% endblock %}
