{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-4">
        {{ form_start(form) }}
        {{ form_row(form.title, {'label': 'Titre'}) }}
        {{ form_row(form.content, {'label': 'Contenu'}) }}
        <input type="submit" value="envoyer" formnovalidate="formnovalidate">
        {{ form_end(form) }}
    </div>
{% endblock %}