{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">{{ show.title }}</h2>
            <p class="blog-post-meta">{{ show.content }}</p>
        </div>
        {{ render(controller('App\\Controller\\PostController::commentForm')) }}
    </div>
{% endblock %}
