{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for post in posts %}
            <div class="col 8">
                <div class="post-preview">
                    <a href="{{ path('blog_post', {slug: post.slug}) }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {#{{ post.content }}#}
                        </h3>
                    </a>
                </div>
                <hr>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
